@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
//   perspective: 10000px;
}

.overlay {
  clip-path: circle(0%);
  position: absolute;
  background: #fffeff;
  width: 50%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2em;
  right: 0;
  z-index: 10;

  .exit {
    color: #8bf442;
    position: absolute;
    right: 2em;
    top: 2em;
    border: none;
    background: none;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-container {
  margin-top: 2em;
  opacity: 0;
  transform: translateY(-30px);

  ul {
    list-style-type: none;
    padding: 0;

    li a {
      text-decoration: none;
      color: black;
      display: block;
      padding: 0.8em 2em 0.8em 1em;
      font-size: 0.9em;

      &:hover {
        background: rgb(240, 236, 240);
        border-radius: 0.2em;
      }
    }
  }
}

.menu-container,
.menu-container ul {
  display: flex;
  flex-direction: column;
  margin-left: 0.8em;
}

.bars-button {
  background: inherit;
  border: none;
  display: block;
  padding: 0.3em 0.1em;
  margin: 0px;

  &:hover {
    color: #8bf442;
  }
}

p.category {
  font-size: 1.2em;
  font-weight: bold;
  color: #8bf442;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-container {
  background: #0f1013;
}

nav a {
  color: #8bf442;
}

header {
  display: flex;
  justify-content: space-between;
  padding: .5em;

  @media only screen and (min-width: 600px) {
    padding: 1em;
  }

  .logo {
    color: #8bf442;
    font-weight: bold;
    font-size: 35px;
    position: relative;
    margin-left: 0px;

    @media only screen and (min-width: 600px) {
        margin-left: 30px;
    }
  }

  nav {
    margin-right: 30px;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0.3em 0.1em;
      margin: 0px;

      &:hover {
        color: #8bf442;
      }
    }
  }
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.intro {
  position: relative;
//   background: rgb(27, 27, 31);
  color: white;
  display: block; //or grid
  text-align: center;
  padding: 3em;
  display: grid;

  @media only screen and (min-width: 1000px) {
    padding: 4em;
  }
}



@media only screen and (min-width: 1000px) {
  .intro {
    height: 89vh;
    grid-template-columns: 66% auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    align-items: center;
    //margin: 20em 8em;

    // .content {
    //   background: rgb(27, 27, 31);
      padding: 6em 8em 6em 4em;
    //   text-align: left;
        display: flex;
        gap: 5em;
        width: 100%;
        padding-top: 3em;
        position: relative;

      .intro-header {
        font-size: 2.5em;
        line-height: 2em;
      }
    }
  }
  .intro-subheader {
    margin: unset;
  }

  .img-header {
    display: unset;
    margin-left: -50%;
    margin-top: 35%;
    width: 100%;
  }


.intro-subheader {
  display: flex;
  margin: 0 auto;
  width: 200px;
  color: white;

  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }
}

.intro-button {
  background: transparent;
  padding: 15px 32px;
  border: 2px solid #8bf442;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: flex;
  color: white;
  letter-spacing: 0.3em;
  font-size: 0.9rem;
  margin: 4px 2px;
  margin-top: 2em;
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: 0.2em;
  transition: 0.2s;

  &:before {
    position: absolute;
    content: "";
    background: #58bd2f;
    height: 100%;
    width: 100%;
    top: 0.5em;
    left: 0.5em;
    z-index: -1;
    border-radius: inherit;
  }

  &:hover {
    // border: none;
    // transition-delay: 1s;
    color: #255784;
    background: #8bf442;
    box-shadow: 0 0 10px #8bf442, 0 0 40px #8bf442, 0 0 80px #8bf442;
  }
} 

// .intro-button-label span {
//     position: absolute;
//     display: block;
//     overflow: hidden;
// }

// .intro-button-label {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     padding: 15px 32px;
//     position: relative;
// }

// .intro-button-label span:nth-child(1) {
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 2px;
//     background: linear-gradient(90deg, transparent, #8bf442);
// }

// .intro-button-label:hover span:nth-child(1) {
//     left: 100%;
//     transition: 1s;
// }

// .intro-button-label span:nth-child(3) {
//     bottom: 0;
//     right: -100%;
//     width: 100%;
//     height: 2px;
//     background: linear-gradient(270deg, transparent, #8bf442);
// }

// .intro-button-label:hover span:nth-child(3) {
//     right: 100%;
//     transition: 1s;
//     transition-delay: 0.5s;
// }

// .intro-button-label span:nth-child(2) {
//     top: -100%;
//     right: 0;
//     width: 2px;
//     height: 100%;
//     background: linear-gradient(180deg, transparent, #8bf442);
// }

// .intro-button-label:hover span:nth-child(2) {
//     top: 100%;
//     transition: 1s;
//     transition-delay: 0.25s;
// }

// .intro-button-label span:nth-child(4) {
//     bottom: -100%;
//     left: 0;
//     width: 2px;
//     height: 100%;
//     background: linear-gradient(360deg, transparent, #8bf442);
// }

// .intro-button-label:hover span:nth-child(4) {
//     bottom: 100%;
//     transition: 1s;
//     transition-delay: 0.75s;
// }

.intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-mark {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 0 103;
}

.intro-p {
  text-align: center;
  font-weight: bold;
  clip-path: circle(0% at 50% 50%);
}

.img-header {
  width: 100%;
}

@media only screen and (min-width: 800px) {
//   .left {
//     display: grid;
//     place-content: center;
//   }

  .img-header {
    width: 100%;
  }
}

section {
  padding: 4em 2em;
  text-align: center;
}

.products {
  background: greenyellow;
}

// ***GRID***
// .products-holder li {
//     background: white;
//     padding: 2em;
//     border-radius: 1em;
//     margin-bottom: -1.5em;

//     .product-container {
//       height: 100px;
//       width: auto;
//       display: grid;
//       place-content: center;
//       margin: 0 auto;
//     }
// }

// ***FLEX***

.products-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-holder li {
  background: white;
  border-radius: 1em;
  width: 20em;
//   height: 20em;
  padding-bottom: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
}

@media (min-width: 600px) {
  .products-holder {
    flex-direction: row;
    justify-content: space-around;
  }

  .products-holder li {
    margin: 0.5em;
  }

  .product-container {
    height: 11em;
    width: auto;
  }
}

.item {
    min-height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-container {
    height: auto;
    max-height: 19em;
    width: 11em;
    position: absolute;
}

.info-item {
    width: 90%;
}

.title-item {
    margin-bottom: 1em;
}

.sizes {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
    width: 10.5em;
    min-height: 4em;
}

.sizes button.active {
    background: #585858;
    color: white
}

.purchase {
    margin-top: 5em;
    width: 90%;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}

.skill-title {
  font-weight: bold;
}

.featured {
  background-color: rgb(27, 27, 31);
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #58bd2f;
  letter-spacing: 0.6em;
  font-size: 1.3em;
  margin-bottom: 25px;
}

.featured-desc {
  color: white;
  margin-bottom: 0em;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 500;
}

.readmore-button {
  background: none;
  border: 2px solid #8bf442;
  padding: 15px 32px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  letter-spacing: 0.3em;
  font-size: 0.9rem;
  margin: 4px 2px;
  margin-top: 2em;
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: 0.2em;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    border: none;
    color: #255784;
    background: #8bf442;
    box-shadow: 0 0 10px #8bf442, 0 0 40px #8bf442, 0 0 80px #8bf442;
    transition-delay: 1s;
  }
}

.readmore-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8bf442);
}

.readmore-button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.readmore-button span {
    position: absolute;
    display: block
}

.readmore-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8bf442);
}

.readmore-button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.readmore-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8bf442);
}

.readmore-button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.readmore-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8bf442);
}

.readmore-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.slider {
  width: 325px;
  height: 360px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .slider {
    width: auto;
    height: 360px;
    overflow: hidden;
  }
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides img {
  width: 325px;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.navigation-manual {
  position: absolute;
  width: 325px;
  margin-top: -160px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 5px;
  transition: 1s;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #58bd2f;
}

@media (min-width: 600px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 130px;
  }
}
@media (min-width: 800px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 220px;
  }
}
@media (min-width: 1000px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 300px;
  }
}
@media (min-width: 1200px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 450px;
  }
}
@media (min-width: 1400px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 530px;
  }
}
@media (min-width: 1600px) {
  .navigation-manual {
    margin-top: -160px;
    margin-left: 650px;
  }
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #58bd2f;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

// CSS for automatic navigation
.navigation-auto {
  position: absolute;
  display: flex;
  width: 325px;
  justify-content: center;
  margin-top: 340px;
}

@media (min-width: 600px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 130px;
  }
}
@media (min-width: 800px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 220px;
  }
}
@media (min-width: 1000px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 300px;
  }
}
@media (min-width: 1200px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 450px;
  }
}
@media (min-width: 1400px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 530px;
  }
}
@media (min-width: 1600px) {
  .navigation-auto {
    margin-top: 340px;
    margin-left: 650px;
  }
}

.navigation-auto div {
  padding: 5px;
  transition: 1s;
  border-radius: 10px;
  border: 2px solid #58bd2f;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #58bd2f;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #58bd2f;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #58bd2f;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #58bd2f;
}

.webgl {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    z-index: -1;
  }